:root {
    /*Colors*/
    --Red: hsl(14, 86%, 42%);
    --Green: hsl(159, 69%, 38%);
    --Rose-50: hsl(20, 50%, 98%);
    --Rose-100: hsl(13, 31%, 94%);
    --Rose-300: hsl(14, 25%, 72%);
    --Rose-400: hsl(7, 20%, 60%);
    --Rose-500: hsl(12, 20%, 44%);
    --Rose-900: hsl(14, 65%, 9%);
  }

* {
    background-color: var(--Rose-50);
}

.principal {
   display: flex;
   flex-direction: row;
   margin: 70px;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 820px;
}

.cards {
  max-width: 300px;
  background-color: var(--Rose-50);
  margin: 0 20px 30px 0;
}

.your-cart{
    width: 400px;
}

h1{
    display: inline;
    width: 900px;
}

.food-images{
    width: 250px;
}
